page-rezepte {
ion-content{

}

.foodcard{
  width:90%;

  margin-left: auto;
  margin-right: auto;
  //float: left;
  margin-top: 15px;
}
.card-md{


}
ion-card-title{
  // font-size: 10px;
}
.image {
   position: relative;
   width: 100%; /* for IE 6 */
}

h2 {
   position: absolute;
   bottom: 5px;
   left: 0;
   width: 100%;
}
h2 span {
   color: white;
   font: bold 16px/20px Helvetica, Sans-Serif;
   letter-spacing: -1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
   padding-bottom: 7px;
}
h2 span.spacer {
   padding:0 5px;
   background: rgba(0, 0, 0,0); /* fallback color */

}
}
