page-swiper {
  .home {

    #card-stack {
      width: 90%;
      height: 90%;
      margin: 20px auto 0;
      position: relative;
    }

    #card-stack ion-card {
      border-radius: 5px;
      position: absolute;
      text-align: center;
      height: 70%;
    }

    .tinder-buttons{
      text-align:center;
      position: absolute;
      bottom: 15%;
      width: 70%;
      padding-left: 7%;
    }

    .ingr-label{
      margin-top: 20px;
    }


    .card-ios,
    .card-md{
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.01);
    }


  }
  .dismiss{
    transform: rotate(45deg);
  }

  .dismiss-button{
    color: #ef7366;
  }

  .like-button{
    color: #6acb8e;
  }

  .skip-button{
    color: #659D32;
  }


  .skip-button{
    background-color: white;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    border: 10px solid whitesmoke;
    padding: 3px 13px;
    font-size: 30px;
  }


  .like-button,
  .dismiss-button{
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 10px solid whitesmoke;
    padding: 3px 13px;
    font-size: 50px;
  }

  .skip{
    margin-top: -20px;
  }


  ion-header,
  ion-toolbar,
  ion-title,
  .toolbar-background-md{
    background-color: white;
  }


  .toolbar-ios ion-title{
    border-bottom: 1px solid rgba(70,70,70, 0.3);
  }



}
